/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
   text-align: center;
    padding: 40px 100px 40px 100px;
    border: 5px solid #333;
    border-radius: 50px;
	background:#D2D2D3;
}

.red, .green, .yellow {

    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%; /* Makes the blocks circular */
    margin: 10px; /* Adjust the margin for spacing */
}

.red {

	background-color:rgb(255, 0, 0);
}

.green {
    background-color: #018101;
}

.yellow {
    background-color:rgb(255, 255, 0);
}
